Source: opensync0-plugin-barry
Section: misc
Priority: optional
Maintainer: Chris Frey <cdfrey@foursquare.net>
Build-Depends: debhelper (>= 7.0.0), g++ (>= 4.1), cdbs, autoconf, automake, libtool, pkg-config, libusb-dev, zlib1g-dev, libopensync0-dev (>= 0.22), libopensync0-dev (<< 0.30), libbarry-dev (>= 0.19)
Standards-Version: 3.9.3

Package: opensync0-plugin-barry
Section: libs
Architecture: any
Depends: libopensync0 (>= 0.22), libopensync0 (<< 0.30), ${shlibs:Depends}
Description: Opensync Blackberry plugin, based on the Barry project
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains an opensync plugin for use with libopensync 0.22.

Package: opensync0-plugin-barry-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libopensync0 (>= 0.22), libopensync0 (<< 0.30), opensync0-plugin-barry (= ${binary:Version})
Description: Opensync Blackberry plugin, based on the Barry project
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains the debug version of the Barry opensync plugin.

