Source: barry
Section: misc
Priority: optional
Maintainer: Chris Frey <cdfrey@foursquare.net>
Build-Depends: debhelper (>= 4.0.0), g++ (>= 4.1), cdbs, autoconf, automake, libtool, pkg-config, libusb-dev, libboost-serialization-dev, libfuse-dev (>= 2.5), zlib1g-dev, libtar-dev, libglib2.0-dev, libgtkmm-2.4-dev, libglademm-2.4-dev, gettext (<< 0.18) | autopoint
Standards-Version: 3.8.0

Package: libbarry0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Library for using the BlackBerry handheld on Linux
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains shared libraries.

Package: libbarry0-dbg
Section: libs
Priority: extra
Architecture: any
Depends: libbarry0 (= ${binary:Version})
Description: Library for using the BlackBerry handheld on Linux
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains the debug version of the libbary shared library.

Package: libbarry-dev
Section: libdevel
Architecture: any
Depends: libbarry0 (= ${binary:Version}), libusb-dev
Description: Development files for libbarry
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains the header files required for building applications
 based on libbarry.

Package: barry-util
Section: utils
Architecture: any
Depends: libbarry0 (= ${binary:Version}), udev (>= 0.056), ${shlibs:Depends}
Suggests: ppp
Description: Command line utilities for working with the RIM BlackBerry Handheld
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains command line utilities, such as bcharge, btool,
 breset, etc.

Package: barry-util-dbg
Section: utils
Priority: extra
Architecture: any
Depends: barry-util (= ${binary:Version})
Description: Command line utilities for working with the RIM BlackBerry Handheld
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains the debug versions of the command line utilities.

Package: barrybackup-gui
Section: utils
Architecture: any
Depends: libbarry0 (= ${binary:Version}), ${shlibs:Depends}
Description: GTK+ based GUI for backing up the RIM BlackBerry Handheld
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains a GUI application for making backups and restores.

Package: barrybackup-gui-dbg
Section: utils
Priority: extra
Architecture: any
Depends: barrybackup-gui (= ${binary:Version})
Description: GTK+ based GUI for backing up the RIM BlackBerry Handheld
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains the debug version of the backup GUI.

#Package: barry-doc
#Architecture: all
#Description: Documentation for barry
# Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
# It comes with a command line tool for exploring the device and for making quick
# backups. The goal of this project is to create a fully functional syncing
# mechanism on Linux.

