Source: opensync1-plugin-barry
Section: misc
Priority: optional
Maintainer: Chris Frey <cdfrey@foursquare.net>
Build-Depends: debhelper (>= 7.0.0), g++ (>= 4.1), cdbs, autoconf, automake, libtool, pkg-config, libusb-dev, zlib1g-dev, libopensync1-dev (>=0.39), libbarry-dev (>= 0.19)
Standards-Version: 3.9.3

Package: opensync1-plugin-barry
Section: libs
Architecture: any
Depends: libopensync1 (>= 0.39), ${shlibs:Depends}
Description: Opensync Blackberry plugin, based on the Barry project
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains an opensync plugin for use with libopensync 0.39
 and above.

Package: opensync1-plugin-barry-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libopensync1 (>= 0.39), opensync1-plugin-barry (= ${binary:Version})
Description: Opensync Blackberry plugin, based on the Barry project
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains the debug version of the Barry opensync plugin.

