Source: opensync-plugin-barry-4x
Section: misc
Priority: optional
Maintainer: Chris Frey <cdfrey@foursquare.net>
Build-Depends: debhelper (>= 4.0.0), g++ (>= 4.1), cdbs, autoconf, automake, libtool, pkg-config, libusb-dev, libboost-serialization-dev, libfuse-dev (>= 2.5), zlib1g-dev, libtar-dev, libgtkmm-2.4-dev, libglademm-2.4-dev, libopensync1-dev (>=0.39)
Standards-Version: 3.8.0

Package: opensync-plugin-barry-4x
Section: libs
Architecture: any
Depends: libopensync1 (>= 0.39), libbarry0 (= ${binary:Version}), ${shlibs:Depends} 
Description: Opensync Blackberry plugin, based on the Barry project
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains an opensync plugin for use with libopensync 0.39 and above.

Package: opensync-plugin-barry-4x-dbg
Section: libs
Priority: extra
Architecture: any
Depends: libopensync1 (>= 0.39), opensync-plugin-barry (= ${binary:Version})
Description: Opensync Blackberry plugin, based on the Barry project
 Barry is a GPL C++ library for interfacing with the RIM BlackBerry Handheld.
 .
 This package contains the debug version of the Barry opensync plugin.

