#!/usr/bin/make -f
# Based on the multi2 sample debian/rules file:
# ---
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess.

#export DH_VERBOSE=1
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
#include /usr/share/cdbs/1/rules/simple-patchsys.mk

# where sources are
DEB_SRCDIR = .
# in which directory to build
DEB_BUILDDIR = .
# in which directory to install the sofware
DEB_DESTDIR = $(CURDIR)/debian/tmp
#To register a debug library package libfoo-dbg for libfoo (which needs unstripped '.so') in compat mode 4:
DEB_DH_STRIP_ARGS := --dbg-package=opensync-plugin-barry-4x
#CDBS automatically handles common flags to pass to the configure script,
#but it is possible to give some extra parameters :
#DEB_CONFIGURE_EXTRA_FLAGS := 
COMMON_CONFIGURE_FLAGS := --prefix=/usr
DEB_INSTALL_DOCS_ALL =

post-patches::
	@test -x $(DEB_SRCDIR)/configure && echo "allready autoreconf" || (cd $(DEB_SRCDIR) && autoreconf -i)

clean::
	-@rm -f $(DEB_SRCDIR)/config.guess $(DEB_SRCDIR)/config.sub $(DEB_SRCDIR)/ltmain.sh $(DEB_SRCDIR)/aclocal.m4
	-@rm -f $(DEB_SRCDIR)/config.h.in $(DEB_SRCDIR)/mkinstalldirs $(DEB_SRCDIR)/install-sh
	-@rm -f $(DEB_SRCDIR)/missing $(DEB_SRCDIR)/depcomp $(DEB_SRCDIR)/configure $(DEB_SRCDIR)/subdirs
	-@rm -f $(DEB_SRCDIR)/configure.files $(DEB_SRCDIR)/stamp-h.in
	-@rm -f `find . -type f -name "Makefile.in" -print`


