[Desktop Entry]
Encoding=UTF-8
Name=Barry Backup
Comment=Backup and restore databases on the BlackBerry Handheld
Exec=barrybackup
Icon=barry_logo_icon
Terminal=false
Type=Application
StartupWMClass=barrybackup-gui
Categories=Utility;Backup;

